NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_SYBIL_COURT_ADDRESS=0x114F72F1b65f60d8ed9244B573F0c7F3a980814B
GENLAYER_RPC=https://studio.genlayer.com/api
GEMINI_API_KEY=
