NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_SYBIL_COURT_ADDRESS=0xFCA5d6960da9833f241c98f5677a0284534B7723
GENLAYER_RPC=https://studio.genlayer.com/api
GEMINI_API_KEY=
